body{
    background: #e67e22;
}

fieldset{
    background: burlywood;
}

#main{
    width: 300px;
    height: 300px;
    margin: auto;

}

#numbers{
    width: 185px;
    height: 235px;
    float: left;

}

#numbers .num{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background: #ffffff;
    border-radius: 4px;
    margin: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}

#operators{
    background: #7f8c8d;
    width: 65px;
    height: 235px;
    float: right;

}
#operators .operator{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 4px;
    margin: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
   

}